img.sidebar_toggle_button,
img.sidebar_toggle_button.off {
    transition: margin-left 0.5s;
}

.sidebar,
.sidebar.off {
    transition: width 0.5s;
    transition: width 0.5s, min-width 0.5s, max-width 0.5s;
}

.app {
    transition: width 0.5s, margin-left 0.5s;
}

.header,
.header.off,
.header ul.combo,
.header ul.combo.off,
.header ul.combo li,
.header ul.combo.off li {
    transition: height 0.3s, padding 0.3s, margin 0.3s, font-size 0.3s;
}

img.sidebar_toggle_button,
img.sidebar_toggle_button.off,
.sidebar,
.sidebar.off,
.app,
.header,
.header.off,
.header ul.combo,
.header ul.combo.off,
.header ul.combo li,
.header ul.combo.off li {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}