body {
    all: initial;
    margin: 0;
    list-style-position: inside;
    background-color: #3d3d3d;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: auto;
}