body {
    background-color: #3f5181;
}

.disclaimer {
    text-align: center;
    background-color: #743f81;
    border-radius: 10px;
    color: #f3ff8afd;
}

.filter {
    width: calc(70% - 20px);
    text-align: center;
}

.filter input {
    width: calc(100% - 24px);
    margin: 8px;
    margin-bottom: 0;
    padding: 2px;
    border: 2px;
}

.filter button {
    margin: 8px;
    margin-bottom: 0;
    width: 40%;
    cursor: pointer;
}

.page {
    padding: 0.5em;
    height: 100%;
    overflow: auto;
}

.page h1 {
    font-size: 1.3em;
    padding: 10px;
    margin: 0;
}

.page ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.page ul li {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: #0d72cafd;
    border-radius: 5px;
    padding: 0.5em;
    margin-left: 0.5em;
    display: block;
}

.page .section {
    border-top: 2px;
    border-left: 2px;
    border-right: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: #0d9ecafd;
    border-radius: 6px;
    padding: 0.5em;
    margin-bottom: 1em;
    display: block;
}

.page .section.off {
    display: none;
}

.page .section li.off {
    display: none;
}