.to_top {
    z-index: 1;
    font-size: 12px;
    background-color: #61719c;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid #7889b6;
    border-left: 0;
    position: absolute;
    margin-left: 265px;
    bottom: 100px;
    height: 50px;
    width: 40px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to_top:hover {
    opacity: 1;
}

.to_top p {
    text-align: center;
    margin: 0;
}

.to_top.sidebar_toggle_off {
    margin-left: 80px;
}