<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox example</title>
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <link rel="stylesheet" type="text/css" href="/views/css/style/flexbox.css">

    <script src="/scripts/source_code_replacer.js"></script>
    <script>
        replaceCodeSection("/views/css/style/flexbox.css", "css_code");
    </script>
</head>

<body>
    <div class="bg">
        <div class="c container1">
            <div class="flexbox_item flexbox_item_1">

            </div>
            <div class="flexbox_item flexbox_item_2">

            </div>
            <div class="flexbox_item flexbox_item_3">

            </div>
        </div>
        <div class="c container2">
            <div class="flexbox_item flexbox_item_1">

            </div>
            <div class="flexbox_item flexbox_item_2">

            </div>
            <div class="flexbox_item flexbox_item_3">

            </div>
        </div>
        <div class="c container3">
            <div class="flexbox_item flexbox_item_1">

            </div>
            <div class="flexbox_item flexbox_item_2">

            </div>
            <div class="flexbox_item flexbox_item_3">

            </div>
        </div>
        <div class="c container4">
            <div class="flexbox_item flexbox_item_1">

            </div>
            <div class="flexbox_item flexbox_item_2">

            </div>
            <div class="flexbox_item flexbox_item_3">

            </div>
        </div>
        <div class="c container5">
            <div class="flexbox_item flexbox_item_1">

            </div>
            <div class="flexbox_item flexbox_item_2">

            </div>
            <div class="flexbox_item flexbox_item_3">

            </div>
        </div>
        <div class="c container6">
            <div class="flexbox_item flexbox_item_1">

            </div>
            <div class="flexbox_item flexbox_item_2">

            </div>
            <div class="flexbox_item flexbox_item_3">

            </div>
        </div>
    </div>


</body>

</html>