<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="HTML, CSS" />
  <meta name="description" content="" />
  <title>Float example</title>
  <link rel="stylesheet" type="text/css" href="/style/main_style.css">
  <link rel="stylesheet" type="text/css" href="/style/header.css">
  <link rel="stylesheet" type="text/css" href="/style/code.css">
  <link rel="stylesheet" type="text/css" href="/views/css/style/floats.css" />
</head>

<body>
  <div class="page_start"></div>
  <div class="page">
    <div>
      <div class="style1">
        <h2>HTML</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
          nam asperiores nesciunt ex sapiente, ipsa exercitationem adipisci
          vel delectus ducimus illo soluta nulla! Illo, est quas quaerat non
          tenetur libero magnam delectus dolorem adipisci possimus repellat
          quam debitis voluptatem?
        </p>
      </div>
      <div class="style1">
        <h2>CSS</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="clr"></div>
    <div class="top"><a href="#">To top</a></div>
    <div class="clr">
      <div class="style2">
        <h2>HTML</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
          nam asperiores nesciunt ex sapiente, ipsa exercitationem adipisci
          vel delectus ducimus illo soluta nulla! Illo, est quas quaerat non
          tenetur libero magnam delectus dolorem adipisci possimus repellat
          quam debitis voluptatem?
        </p>
      </div>
      <div class="style2">
        <h2>CSS</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="top"><a href="#">To top</a></div>
    <section>
      <h2>Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad totam
        numquam, non inventore, veniam vel, corrupti molestias vitae sint
        laudantium est sunt nisi provident maxime voluptates nostrum
        placeat. Facere, debitis! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Ad totam numquam, non inventore, veniam vel,
        corrupti molestias vitae sint laudantium est sunt nisi provident
        maxime voluptates nostrum placeat. Facere, debitis!
      </p>
    </section>
    <div class="endpage"></div>
  </div>
  <div class="page_end"></div>

  <script src="/scripts/source_code_replacer.js"></script>
  <script>
    replaceCodeSection("/views/css/style/floats.css", "css_code");
  </script>
</body>

</html>