<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grids example</title>
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <link rel="stylesheet" type="text/css" href="/views/css/style/grid.css">

    <script src="/scripts/source_code_replacer.js"></script>
    <script>
        replaceCodeSection("/views/css/style/grid.css", "css_code");
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="dark" id="box1">
            BOX! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus.
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus.
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus.
        </div>
    </div>
    <div class="wrapper2">
        <div class="dark">
            <div class="ins">
                <div>Lorem ipsum dolor</div>
                <div>nulla pariatur consequuntur assumenda sequi accusamus. Neque assumenda enim nesciunt
                    architecto tempore! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
                    exercitationem voluptas cum velit dicta. Facilis.</div>
            </div>
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus. Quaerat id sapiente consectetur optio
            fugit, sit est ullam expedita? Deserunt asperiores fugiat quae
            necessitatibus, numquam impedit.
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officia,
            alias velit id repellat dolor nisi provident nihil nulla pariatur
            consequuntur assumenda sequi accusamus. Neque assumenda enim nesciunt
            architecto tempore!
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus. Quaerat id sapiente consectetur optio
            fugit, sit est ullam expedita? Deserunt asperiores fugiat quae
            necessitatibus, numquam impedit.
        </div>
    </div>
    <div class="wrapper3">
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officia,
            alias velit id repellat dolor nisi provident nihil nulla pariatur
            consequuntur assumenda sequi accusamus. Neque assumenda enim nesciunt
            architecto tempore!
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus. Quaerat id sapiente consectetur optio
            fugit, sit est ullam expedita?
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus.
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus. Quaerat id sapiente consectetur optio
            fugit, sit est ullam expedita? Deserunt asperiores fugiat quae
            necessitatibus, numquam impedit.
        </div>
        <div class="dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officia,
            alias velit id repellat dolor nisi provident nihil nulla pariatur
            consequuntur assumenda sequi accusamus. Neque assumenda enim nesciunt
            architecto tempore!
        </div>
        <div class="light">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            autem voluptate fugit possimus. Quaerat id sapiente consectetur optio
            fugit, sit est ullam expedita? Deserunt asperiores fugiat quae
            necessitatibus, numquam impedit.
        </div>
    </div>
</body>

</html>