<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <link rel="stylesheet" type="text/css" href="/style/dark_theme.css">
    <title>Planned implementations</title>

    <script src="/scripts/source_code_replacer.js"></script>
    <script>
    </script>
</head>

<body>
    <h1>Planned implemetations</h1>
    <h2>Current goals:</h2>
    <ul>
        <li>Finish learn.javascript.ru tasks</li>
    </ul>
    <h2>General goals:</h2>
    <ul>
        <li>CSS fixed button examle page</li>
    </ul>
</body>

</html>