<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задания learn.javascript.ru</title>
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/style/links_style.css">
</head>


<body>
    <p class="disclaimer">DISCLAIMER</p>
    <p class="disclaimer">alert function was replaced with my wConsoleLog function for the sake of convenience.</p>
    <div class="page">
        <div class="section">
            <h1><a href="https://learn.javascript.ru/hello-world#tasks" target="_blank">Привет, мир!</a></h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/variables#tasks" target="_blank">Переменные</a></h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/types#tasks" target="_blank">Типы данных</a></h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/alert-prompt-confirm#tasks" target="_blank">Взаимодействие: alert,
                    prompt, confirm</a></h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/operators#tasks" target="_blank">Базовые операторы, математика</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/comparison#tasks" target="_blank">Операторы сравнения</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/ifelse#tasks" target="_blank">Условное ветвление: if, '?'</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/logical-operators#tasks" target="_blank">Логические операторы</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/while-for#tasks" target="_blank">Циклы while и for</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/switch#tasks" target="_blank">Конструкция "switch"</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/function-basics#tasks" target="_blank">Функции</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/arrow-functions-basics#tasks" target="_blank">Стрелочные функции,
                    основы</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/coding-style#tasks" target="_blank">Советы по стилю кода</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/testing-mocha#tasks" target="_blank">Автоматическое тестирование c
                    использованием фреймворка Mocha</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/object#tasks" target="_blank">Объекты</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/object-methods#tasks" target="_blank">Методы объекта, "this"</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/constructor-new#tasks" target="_blank">Конструкторы, создание
                    объектов через "new"</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/primitives-methods#tasks" target="_blank">Методы примитивов</a>
            </h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/number#tasks">Числа</a></h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/string#tasks">Строки</a></h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/array#tasks">Массивы</a></h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/array-methods#tasks">Методы массивов</a></h1>
        </div>
    </div>
    <script src="/scripts/global_funcs.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/task_placer.js"></script>
    <script src="/scripts/filter.js"></script>
</body>

</html>