<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задания learn.javascript.ru</title>
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/style/links_style.css">
</head>


<body>
    <div class="page">
        <div class="section">
            <h1><a href="https://learn.javascript.ru/hello-world#tasks" target="_blank">Привет, мир!</a></h1>
            <ul>
                <li class="1-1"></li>
                <li class="1-2"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/variables#tasks" target="_blank">Переменные</a></h1>
            <ul>
                <li class="2-1"></li>
                <li class="2-2"></li>
                <li class="2-3"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/types#tasks" target="_blank">Типы данных</a></h1>
            <ul>
                <li class="3-1"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/alert-prompt-confirm#tasks" target="_blank">Взаимодействие: alert,
                    prompt, confirm</a></h1>
            <ul>
                <li class="4-1"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/operators#tasks" target="_blank">Базовые операторы, математика</a>
            </h1>
            <ul>
                <li class="5-1"></li>
                <li class="5-2"></li>
                <li class="5-3"></li>
                <li class="5-4"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/comparison#tasks" target="_blank">Операторы сравнения</a>
            </h1>
            <ul>
                <li class="6-1"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/ifelse#tasks" target="_blank">Условное ветвление: if, '?'</a>
            </h1>
            <ul>
                <li class="7-1"></li>
                <li class="7-2"></li>
                <li class="7-3"></li>
                <li class="7-4"></li>
                <li class="7-5"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/logical-operators#tasks" target="_blank">Логические операторы</a>
            </h1>
            <ul>
                <li class="8-1...8"></li>
                <li class="8-9"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/while-for#tasks" target="_blank">Циклы while и for</a>
            </h1>
            <ul>
                <li class="9-1"></li>
                <li class="9-2"></li>
                <li class="9-3"></li>
                <li class="9-4"></li>
                <li class="9-5"></li>
                <li class="9-6"></li>
                <li class="9-7"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/switch#tasks" target="_blank">Конструкция "switch"</a>
            </h1>
            <ul>
                <li class="10-1"></li>
                <li class="10-2"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/function-basics#tasks" target="_blank">Функции</a>
            </h1>
            <ul>
                <li class="11-1"></li>
                <li class="11-2"></li>
                <li class="11-3"></li>
                <li class="11-4"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/arrow-functions-basics#tasks" target="_blank">Стрелочные функции,
                    основы</a>
            </h1>
            <ul>
                <li class="12-1"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/coding-style#tasks" target="_blank">Советы по стилю кода</a>
            </h1>
            <ul>
                <li class="13-1"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/testing-mocha#tasks" target="_blank">Автоматическое тестирование c
                    использованием фреймворка Mocha</a>
            </h1>
            <ul>
                <li class="14-1"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/object#tasks" target="_blank">Объекты</a>
            </h1>
            <ul>
                <li class="15-1"></li>
                <li class="15-2"></li>
                <li class="15-3"></li>
                <li class="15-4"></li>
                <li class="15-5"></li>
            </ul>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/object-methods#tasks" target="_blank">Методы объекта, "this"</a>
            </h1>
            <ul>
                <li class="16-1"></li>
                <li class="16-2"></li>
                <li class="16-3"></li>
                <li class="16-4"></li>
                <li class="16-5"></li>
            </ul>
        </div>
    </div>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/task_placer.js"></script>
    <script src="/scripts/filter.js"></script>
</body>

</html>