<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>to replace</title>
    <script src="/scripts/source_code_replacer.js"></script>
</head>

<body>
    <script>
        'use strict';
        // до вызова функции
        let menu = {
            width: 200,
            height: 300,
            title: "My menu"
        };

        wConsoleLog(menu);

        multiplyNumeric(menu);

        wConsoleLog(menu);
        // после вызова функции
        menu = {
            width: 400,
            height: 600,
            title: "My menu"
        };

        function multiplyNumeric(obj) {
            for (let key in obj) {
                if (typeof obj[key] == 'number') {
                    obj[key] *= 2;
                }
            }
        }
    </script>
</body>

</html>