<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style/main_style.css" />
    <link rel="stylesheet" type="text/css" href="/style/header.css" />
    <link rel="stylesheet" type="text/css" href="/style/code.css" />
    <title>to replace</title>
    <script src="/scripts/source_code_replacer.js"></script>
  </head>

  <body>
    <script>
      "use strict";
      function truncate(str, maxlength) {
        if (str.length > maxlength) {
          return str.slice(0, maxlength - 1) + "…";
        }
        return str;
      }

      wConsoleLog(
        truncate("Вот, что мне хотелось бы сказать на эту тему:", 20)
      );
      wConsoleLog(truncate("Всем привет!", 20));
    </script>
  </body>
</html>
