<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style/main_style.css" />
    <link rel="stylesheet" type="text/css" href="/style/header.css" />
    <link rel="stylesheet" type="text/css" href="/style/code.css" />
    <title>to replace</title>
    <script src="/scripts/source_code_replacer.js"></script>
  </head>

  <body>
    <script>
      "use strict";

      function aclean(arr) {
        let clean = new Map();

        for (let i = arr.length - 1; i >= 0; i--) {
          let mod = arr[i].toLowerCase().split("").sort().join("");
          clean.set(mod, arr[i]);
        }

        return Array.from(clean.values());
      }

      let arr = [
        "nap",
        "teachers",
        "cheaters",
        "PAN",
        "ear",
        "era",
        "hectares",
      ];

      wConsoleLog(aclean(arr));
    </script>
  </body>
</html>
