<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style/main_style.css" />
    <link rel="stylesheet" type="text/css" href="/style/header.css" />
    <link rel="stylesheet" type="text/css" href="/style/code.css" />
    <title>to replace</title>
    <script src="/scripts/source_code_replacer.js"></script>
  </head>

  <body>
    <p>
      Дату сообщений можно добавлять в WeakMap (let messagesReadDate = new
      WeakMap()).
    </p>
  </body>
</html>
