<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>to replace</title>
    <script src="/scripts/source_code_replacer.js"></script>
</head>

<body>
    <script>
        'use strict';
        let login = prompt("Введите логин", "Админ");

        if (login === "" || login === null) {
            wConsoleLog("Отменено");
        } else if (login === "Админ") {

            let password = prompt("Введите пароль", "Я главный");

            if (password === "" || password === null) {
                wConsoleLog("Отменено");
            } else if (password === "Я главный") {
                wConsoleLog("Здравствуйте!");
            } else {
                wConsoleLog("Неверный пароль");
            }
        } else {
            wConsoleLog("Я вас не знаю");
        }

    </script>
</body>

</html>