<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>Fetch API</title>
    <script src="/scripts/source_code_replacer.js"></script>
    <script>
        replaceCodeSection("/views/js/scripts/fetch.js", "js_code");
    </script>
</head>

<body>
    <button onclick="getResp()">Get response</button>
    <div id="demo"></div>
    <button onclick="createPost()">Create a resourse</button>
    <div id="demo2"></div>
    <script src="/views/js/scripts/fetch.js"></script>

</body>

</html>