<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задания learn.javascript.ru</title>
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/style/links_style.css">
    <script src="/scripts/global_funcs.js"></script>
</head>


<body>
    <p class="disclaimer">DISCLAIMER</p>
    <p class="disclaimer">alert function was replaced with my wConsoleLog function for the sake of convenience.</p>
    <div class="page">
        <div class="section">
            <h1><a href="https://learn.javascript.ru/hello-world#tasks" target="_blank">1. Привет, мир!</a></h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/variables#tasks" target="_blank">2. Переменные</a></h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/types#tasks" target="_blank">3. Типы данных</a></h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/alert-prompt-confirm#tasks" target="_blank">4. Взаимодействие:
                    alert, prompt, confirm</a></h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/operators#tasks" target="_blank">5. Базовые операторы,
                    математика</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/comparison#tasks" target="_blank">6. Операторы сравнения</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/ifelse#tasks" target="_blank">7. Условное ветвление: if, '?'</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/logical-operators#tasks" target="_blank">8. Логические
                    операторы</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/while-for#tasks" target="_blank">9. Циклы while и for</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/switch#tasks" target="_blank">10. Конструкция "switch"</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/function-basics#tasks" target="_blank">11. Функции</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/arrow-functions-basics#tasks" target="_blank">12. Стрелочные
                    функции, основы</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/coding-style#tasks" target="_blank">13. Советы по стилю кода</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/testing-mocha#tasks" target="_blank">14. Автоматическое
                    тестирование c использованием фреймворка Mocha</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/object#tasks" target="_blank">15. Объекты</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/object-methods#tasks" target="_blank">16. Методы объекта,
                    "this"</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/constructor-new#tasks" target="_blank">17. Конструкторы, создание
                    объектов через "new"</a>
            </h1>
        </div>
        <div class="section">
            <h1><a href="https://learn.javascript.ru/primitives-methods#tasks" target="_blank">18. Методы примитивов</a>
            </h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/number#tasks">19. Числа</a></h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/string#tasks">20. Строки</a></h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/array#tasks">21. Массивы</a></h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/array-methods#tasks">22. Методы массивов</a></h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/map-set#tasks">23. Map и Set</a></h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/weakmap-weakset#tasks">24. WeakMap и WeakSet</a>
            </h1>
        </div>
        <div class="section">
            <h1><a target="_blank" href="https://learn.javascript.ru/keys-values-entries#tasks">25. Object.keys, values,
                    entries</a>
            </h1>
        </div>
    </div>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/task_placer.js"></script>
    <script src="/scripts/filter.js"></script>
</body>

</html>