<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>to replace</title>
</head>

<body>

    <div class="page_start"></div>

    <div class="page">
        <script>
            "use strict";
            function random(min, max) {
                return Math.floor((max + 1 - min) * Math.random() + min);
            }
            console.log(random(1, 5));
            console.log(random(1, 5));
            console.log(random(1, 5));
            console.log(random(1, 5));
            console.log(random(1, 5));
        </script>
    </div>

    <div class="page_end"></div>
    <script src="/scripts/source_code_replacer.js"></script>
    <script>
    </script>
</body>

</html>