<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>to replace</title>
    <script src="/scripts/source_code_replacer.js"></script>
</head>

<body>
    <script>
        "use strict";

        function getMaxSubSum(arr) {
            let max = 0;
            let current = 0;
            for (let i = 0; i < arr.length; i++) {
                current += arr[i];
                if (current < 0) current = 0;

                if (current > max) max = current;
            }

            return max;
        }

        wConsoleLog(getMaxSubSum([-1, 2, 3, -9]));
        wConsoleLog(getMaxSubSum([2, -1, 2, 3, -9]));
        wConsoleLog(getMaxSubSum([-1, 2, 3, -9, 11]));
        wConsoleLog(getMaxSubSum([-2, -1, 1, 2]));
        wConsoleLog(getMaxSubSum([100, -9, 2, -3, 5]));
        wConsoleLog(getMaxSubSum([1, 2, 3]));
    </script>
</body>

</html>