<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>to replace</title>
    <script src="/scripts/source_code_replacer.js"></script>
</head>

<body>
    <script>
        'use strict';

        function getAverageAge(arr) {
            return arr.reduce((pV, cV) => pV + cV.age, 0) / arr.length;
        }

        let vasya = { name: "Вася", age: 25 };
        let petya = { name: "Петя", age: 30 };
        let masha = { name: "Маша", age: 29 };

        let arr = [vasya, petya, masha];

        wConsoleLog(getAverageAge(arr));

    </script>
</body>

</html>