<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
</head>

<body>

    <div class="page_start"></div>

    <div class="page">
        <p>"0" будет преобразовано в true, так как любая не пустая строка преобразовается в t</p>
    </div>

    <div class="page_end"></div>
    <script src="/scripts/source_code_replacer.js"></script>
    <script>
    </script>
</body>

</html>