<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>Задача 8-1...8</title>
</head>

<body>

    <div class="page_start"></div>

    <div class="page">
        1. 2 <br>
        2. 1 -> 2 <br>
        3. null <br>
        4. 1 -> undefined <br>
        5. 3 <br>
        6. if(age >= 14 && age &lt;= 90) <br>
        7. if(!(age > 14) && !(age &lt; 90)) <br>
        if(age &lt;= 14 || age >= 90) <br>
        8. 1) Выполниться = -1 <br>
        2) Не выполниться = 0 <br>
        3) Выполниться = 1 <br>
    </div>

    <div class="page_end"></div>
    <script src="/scripts/source_code_replacer.js"></script>
    <script>
    </script>
</body>

</html>