<!DOCTYPE html>
<html lang="en">

<head>
        <script src="/scripts/home_redirect.js"></script>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style/main_style.css">
        <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
        <link rel="stylesheet" type="text/css" href="/style/links_style.css">
        <title>CSS section</title>
</head>

<body>
        <div class="page">
                <div class="section">
                        <h1>CSS examples</h1>
                        <ul>
                                <li><a onclick="load('app','/views/css/views/form_s.html');">Styled form</a>
                                        <a class="directLink" href="/views/css/views/form_s.html" target="_parent">></a>
                                </li>
                                <li><a onclick="load('app','/views/css/views/links.html');">Links</a>
                                        <a class="directLink" href="/views/css/views/links.html" target="_parent">></a>
                                </li>
                                <li><a onclick="load('app','/views/css/views/floats.html');">Float</a>
                                        <a class="directLink" href="/views/css/views/floats.html" target="_parent">></a>
                                </li>
                                <li><a onclick="load('app','/views/css/views/display.html');">Display</a>
                                        <a class="directLink" href="/views/css/views/display.html"
                                                target="_parent">></a>
                                </li>
                                <li><a onclick="load('app','/views/css/views/position.html');">Position</a>
                                        <a class="directLink" href="/views/css/views/position.html"
                                                target="_parent">></a>
                                </li>
                                <li><a onclick="load('app','/views/css/views/grid.html');">Grid</a>
                                        <a class="directLink" href="/views/css/views/grid.html" target="_parent">></a>
                                </li>
                                <li><a onclick="load('app','/views/css/views/flexbox.html');">Flexbox</a>
                                        <a class="directLink" href="/views/css/views/flexbox.html"
                                                target="_parent">></a>
                                </li>
                                <li><a onclick="load('app','/views/css/views/shadow_DOM.html');">Shadow DOM</a>
                                        <a class="directLink" href="/views/css/views/shadow_DOM.html"
                                                target="_parent">></a>
                                </li>
                        </ul>
                </div>
                <div class="section">
                        <h1>External resources</h1>
                        <ul>
                                <li><a href="https://www.w3schools.com/cssref/default.asp" target="_blank">CSS reference
                                                (w3schools.com)</a></li>
                                <li><a href="https://www.w3schools.com/cssref/pr_class_float.asp" target="_blank">CSS
                                                float
                                                Property
                                                (w3schools.com)</a></li>
                                <li><a href="https://www.w3schools.com/cssref/pr_class_display.asp" target="_blank">CSS
                                                display
                                                Property
                                                (w3schools.com)</a>
                                </li>
                                <li><a href="https://www.w3schools.com/cssref/pr_class_position.asp" target="_blank">CSS
                                                position Property
                                                (w3schools.com)</a></li>
                                <li><a href="https://youtu.be/M7m_3b1Jjzc" target="_blank">CSS Grid Tutorial
                                                (youtube.com)</a>
                                </li>
                                <li><a href="https://youtu.be/fYq5PXgSsbE" target="_blank">Flexbox Tutorial
                                                (youtube.com)</a>
                                </li>
                                <li><a href="https://www.w3schools.com/cssref/css3_pr_transition.asp"
                                                target="_blank">CSS
                                                transition
                                                Property (w3schools.com)</a>
                                </li>
                                <li><a href="https://www.w3schools.com/css/css3_gradients.asp" target="_blank">CSS
                                                Gradients
                                                (w3schools.com)</a>
                                </li>
                                <li><a href="https://www.w3schools.com/cssref/pr_class_cursor.asp" target="_blank">CSS
                                                cursor
                                                Property
                                                (w3schools.com)</a>
                                </li>
                                <li><a href="https://www.w3schools.com/cssref/css3_pr_mediaquery.asp"
                                                target="_blank">CSS @media
                                                Rule
                                                (w3schools.com)</a>
                                </li>
                                <li><a href="https://youtu.be/lAOkx2yZESY" target="_blank">Responsive design tutorial
                                                (youtube.com)</a>
                                </li>
                        </ul>
                </div>
        </div>
        <script src="/scripts/app.js"></script>
</body>

</html>