<!DOCTYPE html>
<html lang="en">

<head>
        <script src="/scripts/home_redirect.js"></script>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style/main_style.css">
        <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
        <link rel="stylesheet" type="text/css" href="/style/links_style.css">
        <title>CSS section</title>
</head>

<body>
        <div class="page">
                <div class="section">
                        <h1>CSS examples</h1>
                        <ul class="link_parent">
                        </ul>
                </div>
                <div class="section">
                        <h1>Tools</h1>
                        <ul class="link_parent">
                        </ul>
                </div>
                <div class="section">
                        <h1>External resources</h1>
                        <ul class="link_parent">
                        </ul>
                </div>
        </div>
        <script src="/scripts/global_funcs.js"></script>
        <script src="/scripts/app.js"></script>
        <script src="/scripts/link_placer.js"></script>
        <script src="/scripts/filter.js"></script>
</body>

</html>