<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>Binary search</title>
</head>

<body>
    <div class="page_start"></div>

    <div class="page">
        <p>Given a sorted array of n integers and a target value, determine if the target exists in the array in
            logarithmic time using the binary search algorithm. If target exists in the array, print the index of it.
        </p>
        <br>
        <br>
        <br>
        <p>
        </p>
        <script src="/views/algorithms/scripts/random_array_func.js"></script>
    </div>

    <div class="page_end"></div>
    <script src="/scripts/source_code_replacer.js"></script>
    <script>
        replaceCodeSection("path", "js_code");
    </script>
</body>

</html>