<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/code.css">
    <title>Binary search</title>
</head>

<body>
    <div class="page_start"></div>

    <div class="page">
        <p>
            My implementation of quick sort algorithm (recursive).
        </p>
        <p>
            Function that generates array of random integers was created for testing.
        </p>
        <p>
            Here is the results:
        </p>
        <ul class="console">

        </ul>
        <script defer src="/views/algorithms/scripts/random_array_func.js"></script>
    </div>

    <div class="page_end"></div>
    <script src="/scripts/source_code_replacer.js"></script>
    <script>
        replaceCodeSection("/views/algorithms/scripts/random_array_func.js", "js_code");
    </script>
</body>

</html>