<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Introduction</title>
  <link rel="stylesheet" type="text/css" href="/style/main_style.css" />
  <link rel="stylesheet" type="text/css" href="/style/header.css" />
  <link rel="stylesheet" type="text/css" href="/style/intro.css" />
  <link rel="stylesheet" type="text/css" href="/style/links_style.css" />
</head>

<body>
  <div class="homeheader">
    <ul>
      <li><a href="/" target="_parent">Home</a></li>
    </ul>
  </div>
  <div class="intro">
    <h1>Welcome to Denis Fedulov portfolio website.</h1>
    Here you can find
    <ul>
      <li>My abstracts on web development topics in the form of examples with
        source code
      </li>
      <li>My solutions to test tasks</li>
      <li>Quick access to useful resources</li>
      <li>And most importantly, you can find source code of this website on
        <a href="https://github.com/DenFedulov/DF-frontend-portfolio" target="_blank">GitHub</a>!!!
      </li>
    </ul>
  </div>
</body>

</html>