<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/scripts/home_redirect.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/style/links_style.css">
    <title>HTML section</title>
</head>

<body>
    <div class="page">
        <div class="section">
            <h1>HTML examples</h1>
            <ul>
                <li><a onclick="load('app','/views/html/views/basic.html');">Basic </a>
                    <a class="directLink" href="/views/html/views/basic.html" target="_parent">></a>
                </li>
                <li><a onclick="load('app','/views/html/views/form.html');">Form</a>
                    <a class="directLink" href="/views/html/views/form.html" target="_parent">></a>
                </li>
            </ul>
        </div>
        <div class="section">
            <h1>External resources</h1>
            <ul>
                <li><a href="https://www.w3schools.com/tags/default.asp" target="_blank">HTML Element
                        Reference (w3schools.com)</a>
                </li>
                <li><a href="https://www.whatsmyip.org/html-characters/" target="_blank">HTML Entities & Special
                        Characters
                        (whatsmyip.org)</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/scripts/app.js"></script>
</body>

</html>