<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/scripts/home_redirect.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/style/links_style.css">
    <title>JavaScript section</title>
</head>

<body>
    <div class="page">
        <div class="section">
            <h1>JavaScript examples</h1>
            <ul>
                <li><a onclick="load('app','/views/js/views/traversal.html');">Traversal</a>
                    <a class="directLink" href="/views/js/views/traversal.html" target="_parent">></a>
                </li>
                <li><a onclick="load('app','/views/js/views/DOM.html');">DOM manupulation</a>
                    <a class="directLink" href="/views/js/views/DOM.html" target="_parent">></a>
                </li>
                <li><a onclick="load('app','/views/js/views/fetch_API.html');">Fetch API</a>
                    <a class="directLink" href="/views/js/views/fetch_API.html" target="_parent">></a>
                </li>
            </ul>
        </div>
        <div class="section">
            <h1>External resources</h1>
            <ul>
                <li>
                    <a href="https://262.ecma-international.org/12.0/" target="_blank">ECMAScript® 2021 Language
                        Specification (262.ecma-international.org)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/jsref/default.asp" target="_blank">JavaScript reference
                        (w3schools.com)</a>
                </li>
                <li>
                    <a href="https://learn.javascript.ru/" target="_blank">JavaScript reference 2
                        (learn.javascript.ru)</a>
                </li>
                <li>
                    <a href="https://learn.javascript.ru/shadow-dom" target="_blank">Shadow DOM
                        (learn.javascript.ru)</a>
                </li>
                <li>
                    <a href="https://youtu.be/v7rSSy8CaYE" target="_blank">DOM Traversal (youtube.com)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/jsref/dom_obj_all.asp" target="_blank">HTML DOM Elements
                        (w3schools.com)</a>
                </li>
                <li>
                    <a href="https://learn.javascript.ru/fetch" target="_blank">Fetch (learn.javascript.ru)</a>
                </li>
                <li>
                    <a href="https://learn.javascript.ru/arrow-functions-basics" target="_blank">Arrow functions
                        (learn.javascript.ru)</a>
                </li>
                <li>
                    <a href="https://learn.javascript.ru/async" target="_blank">Promises/Async/await
                        (learn.javascript.ru)</a>
                </li>
                <li>
                    <a href="https://youtube.com/playlist?list=PLoYCgNOIyGABs-wDaaxChu82q_xQgUb4f"
                        target="_blank">Modular
                        JavaScript (youtube.com/playlist)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/js/js_hoisting.asp" target="_blank">Hoisting
                        (w3schools.com)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/js/js_scope.asp" target="_blank">Scope (w3schools.com)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/js/js_strict.asp" target="_blank">Use Strict
                        (w3schools.com)</a>
                </li>
                <li>
                    <a href="https://learn.javascript.ru/bubbling-and-capturing" target="_blank">Event Bubbling
                        (learn.javascript.ru)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/js/js_ajax_intro.asp" target="_blank">AJAX Introduction
                        (w3schools.com)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/js/js_object_prototypes.asp" target="_blank">Object
                        Prototypes
                        (w3schools.com)</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/scripts/app.js"></script>
</body>

</html>