<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/scripts/home_redirect.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style/main_style.css">
    <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/style/links_style.css">
    <title>JavaScript section</title>
</head>

<body>
    <div class="page">
        <div class="section">
            <h1>JavaScript examples</h1>
            <ul class="int">
            </ul>
        </div>
        <div class="section">
            <h1>External resources</h1>
            <ul class="ext">
            </ul>
        </div>
    </div>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/link_placer.js"></script>
    <script src="/scripts/filter.js"></script>
</body>

</html>