<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Basic example</title>
  <link rel="stylesheet" type="text/css" href="/style/main_style.css">
  <link rel="stylesheet" type="text/css" href="/style/header.css">
  <link rel="stylesheet" type="text/css" href="/style/code.css">
  <style>
    img {
      width: 200px;
      border-radius: 100px;
      height: 200px;
      float: left;
      margin-right: 20px;
    }

    .username {
      font-weight: bold;
    }
  </style>

  <script src="/scripts/source_code_replacer.js"></script>
  <script>

  </script>
</head>

<body>
  <img src="/media/avatar.jpg" alt="Profile picture missing" />
  <p class="username">@Ivan Ivanov</p>
  <p>This is basic html page</p>
</body>

</html>